@define-color foreground #e4dcd2;
@define-color background #0a1116;
@define-color cursor #e4dcd2;

@define-color color0 #0a1116;
@define-color color1 #906F65;
@define-color color2 #7B8479;
@define-color color3 #8C877A;
@define-color color4 #D38B77;
@define-color color5 #7C8A82;
@define-color color6 #A39F90;
@define-color color7 #e4dcd2;
@define-color color8 #9f9a93;
@define-color color9 #906F65;
@define-color color10 #7B8479;
@define-color color11 #8C877A;
@define-color color12 #D38B77;
@define-color color13 #7C8A82;
@define-color color14 #A39F90;
@define-color color15 #e4dcd2;
